name: Beautiful Jekyll CI
on: [push, pull_request]
jobs:
  build:
    name: Build Jekyll
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the site in the jekyll/builder container
        run: |
          docker run --rm \
            -v "$PWD":/srv/jekyll \
            -v "$PWD/vendor/bundle":/usr/local/bundle \
            jekyll/builder:4.3 \
            bash -lc "bundle install && bundle exec jekyll build"

